:root {
  --app-red: #ff7979;
  --app-green: #38cc8b;
  --app-purple: #5e54a4;
  --app-dark: #3d3b48;
  --app-light: #ffffff;
  --app-border-color: #dedede;
  --app-text-secondary: #bab7d4;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  margin: 0;
  padding: 0;
  color: var(--app-dark);
  font-family: 'Poppins', sans-serif;
  background: var(--app-red) url('../assets/bg-intro-desktop.png');
  font-size: 1.6rem;
}
