@import url('./base.css');
@import url('./modules.css');

.flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

.content {
  height: 100vh;
  align-items: center;
}

.intro-container {
  flex-basis: 50%;
  color: var(--app-light);
}

.intro-container h1 {
  font-size: 5rem;
  line-height: 55px;
}

.intro-container p {
  line-height: 26px;
}

.form-container {
  flex-basis: 50%;
}

.trial-info {
  justify-content: center;
  align-items: center;
  padding: 17px 0;
  color: var(--app-light);
  background-color: var(--app-purple);
  box-shadow: 0px 8px 0px rgba(0, 0, 0, 0.14688);
  border-radius: 10px;
  margin-bottom: 24px;
}

.trial-info strong {
  display: inline-block;
  margin-right: 5px;
}

.form {
  background-color: var(--app-light);
  padding: 40px;
  box-shadow: 0px 8px 0px rgba(0, 0, 0, 0.14688);
  border-radius: 10px;
}

.form button {
  display: block;
  width: 100%;
  margin-bottom: 20px;
}

.form button {
  background-color: var(--app-green);
  color: var(--app-light);
  letter-spacing: 1px;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 26px;
  border: none;
  box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.0908818);
  border-radius: 5px;
  padding: 15px 0;
}

.form .terms-and-services {
  color: var(--app-text-secondary);
  font-weight: 500;
  font-size: 1.1rem;
  line-height: 26px;
  text-align: center;
  margin: 0;
}

.form .terms-and-services a {
  color: var(--app-red);
  text-decoration: none;
}
