.input {
  display: block;
  width: 100%;
  margin-bottom: 20px;
  padding: 15px 32px;
  border-radius: 5px;
  border: 1px solid var(--app-border-color);
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 26px;
  letter-spacing: 0.25px;
  font-family: inherit;
}

.input--invalid {
  border-color: red;
}
